.outer {
  background: #2568FB;
  width: 90%;
  position:relative;
  left: 5%;
  display:block;
  padding-bottom: 70%;
  z-index: 0;
}

#char-rec {
  width: 30%;
  float: left;
}

#char-rec h1 {
  text-align: center;
  margin: 1%;
}

#char-rec img {
  position: relative;
  width: 90%;
  margin-top: 50%;
  margin-bottom: 50%;
}

#tab-bar {
  width: 70%;
  height: 50%;
  position:relative;
  top: 0%;
  display: block;
  float: right;
}

#content {
  width: 70%;
  height: 70%;
  float: right;
  top: 10%;
  padding-bottom: 70%;
  background-color: chocolate;
}

@media screen and (max-width: 900px) {
  .outer {
    height: 50%;
    margin-top: 5%;
    padding-bottom: 90%;
  }

  #content {
    padding-bottom: 94%;
  }
}